In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class Person():
    name:str 
    age:int
    city:str

In [3]:
person2= Person(name="Tarun", age=20, city="guna")
print(person2)

Person(name='Tarun', age=20, city='guna')

In [5]:
person2 = Person(name="Tarun", age=20, city=35)
person2

Person(name='Tarun', age=20, city=35)

In [6]:
from pydantic import BaseModel

In [7]:
class Person1(BaseModel):
    name:str
    age:int
    city:str

In [ ]:
person = Person1(name="Tarun", age=20, city="Guna")
print(person)

Person(name='Tarun', age=20, city='guna')

In [ ]:
person1 = Person1(name="Tarun", age=20, city="50")
print (person1)

name='Tarun' age=20 city='50'

In [19]:
from typing import Optional

class Employee(BaseModel):
    id:int
    name:str
    department:str
    salary:Optional[float]=None
    is_active:Optional[bool]=None

In [20]:
emp1=Employee(id=1,name="Tarun",department="CS")
print(emp1)

id=1 name='Tarun' department='CS' salary=None is_active=None

In [21]:
emp2=Employee(id=1,name="Tarun",department="CS",salary=30000)
print(emp2)

id=1 name='Tarun' department='CS' salary=30000.0 is_active=None

In [23]:
emp3=Employee(id=1,name="Tarun",department="CS",salary=30000,is_active=True)
print(emp3)

id=1 name='Tarun' department='CS' salary=30000.0 is_active=True

In [24]:
from typing import List

class Classroom(BaseModel):
    room_number:str
    students:List[str]
    capacity:int

In [26]:
classroom = Classroom(
    room_number="A101",
    students=("tarun","anshul","shyam"),
    capacity=30

)

print(classroom)

room_number='A101' students=['tarun', 'anshul', 'shyam'] capacity=30

In [44]:
int(2.0)

2

In [48]:
try:
    invalid_value = Classroom(room_number="A1", students=["jame", 123], capacity=30)
except ValueError as e:
    print(e)

1 validation error for Classroom
students.1
  Input should be a valid string [type=string_type, input_value=123, input_type=int]
    For further information visit https://errors.pydantic.dev/2.11/v/string_type

In [52]:
from pydantic import BaseModel

class Address(BaseModel):
    street:str
    city:str
    zip_code:int

class Customer(BaseModel):
   customer_id:str
   name:str
   address:Address #Nested Model

In [53]:
customer=Customer(
    customer_id="co1",
    name="Tarun",
    address={"street" :"Main Street", "city":"Guna", "zip_code":123})
print (customer)

customer_id='co1' name='Tarun' address=Address(street='Main Street', city='Guna', zip_code=123)